@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "OpenSauce";
    src: url("assets/Fonts/OpenSauce/OpenSauceOne-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "OpenSauce";
    src: url("assets/Fonts/OpenSauce/OpenSauceOne-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "OpenSauce";
    src: url("assets/Fonts/OpenSauce/OpenSauceOne-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/Fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/Fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Archivo";
    src: url("assets/Fonts/Archivo/Archivo-Bold.ttf");
    font-weight: 700;
}

@layer components {
    .border-style {
        @apply border border-borderLight dark:border-borderDark;
    }

    .border-style500 {
        @apply border border-borderLight dark:border-dark500;
    }

    .border-r-style500 {
        @apply border-r border-borderLight dark:border-dark500;
    }

    .border-t-style500 {
        @apply border-t border-borderLight dark:border-dark500;
    }
}

.flip {
    transform: rotateY(180deg);
}

.bi-siren {
    background-image : url("assets/images/siren.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 44px;
    width: 44px;
}

.speedometer .segment-value {
    transform: translate(0, -30px)
}